<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm">
      <div class="form-group">
        <label for="" class="col-md-4">Person name</label>
        <input type="text" class="form-control" formControlName="personName" #personName>
      </div>
      <div *ngIf="angForm.controls['personName'].invalid && (angForm.controls['personName'].dirty || angForm.controls['personName'].touched)">
        <div *ngIf="angForm.controls['personName'].errors.required">
            Person name is required
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-md-4">Business name</label> 
        <input type="text" class="form-control" formControlName="businessName" #businessName>
      </div>
      <div *ngIf="angForm.controls['businessName'].invalid && (angForm.controls['businessName'].dirty || angForm.controls['businessName'].touched)">
        <div *ngIf="angForm.controls['businessName'].errors.required">
             Business name is required
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-md-4">Business number</label>
        <input type="text" class="form-control" formControlName="businessNumber" #businessNumber>
      </div>
      <div *ngIf="angForm.controls['businessNumber'].invalid && (angForm.controls['businessNumber'].dirty || angForm.controls['businessNumber'].touched)">
        <div *ngIf="angForm.controls['businessNumber'].errors.required">
             Business number is required
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="angForm.invalid || angForm.pristine"
        (click)="addBusiness(personName.value, businessName.value, businessNumber.value)">Add Business</button>
      </div>
    </form>
  </div>
</div>